# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv/

# Environment Variables
.env
backend/.env
browser_extension/.env
browser_extension/config.js

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Extension
browser_extension/dist/